html, body, .header, .content { 
    height : 100%; 
}

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    background-color: #272727;
    color: #FFFFFF;
}

.header h1, .header ul, .content, button {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.header h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
}

.header h2 {
    font-family: 'Sacramento', cursive;
    color: #FFCC00;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0;
}

.header img {
    width: 100%;
    height: auto;
}

.header ul {
    padding: 0 10%;
}

.header li {
    list-style: none;
    font-size: 2em;
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.highlighted {
    color: #FFCC00;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover, .header li:hover, .rounded button:hover {
    opacity: 0.7;
}

.social {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.social a, .captcha-msg {
    background: transparent;
    color: #FFCC00;
}

.content {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.2px;
}

.content table {
    border-collapse: collapse;
}

.content table td, .content table th {
    padding: 1em 2em;
    border: #FFCC00 3px solid;
}

.content table th:first-child {
    border-top: 0;
    border-left: 0;
}

.content table tr:last-child td:last-child {
    border-bottom: 0;
    border-right: 0;
}

.rounded {
    border-radius: 25px;
    background-color: #272727;
    color: #FFFFFF;
    padding: 3em;
}

.rounded form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rounded div {
    margin: 7px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.rounded div:first-child {
    margin-top: 0;
}

.rounded div:last-child {
    margin-bottom: 0;
}

.content img {
    width: 100%;
    height: 100%;
}

.info input {
    width: 50%;
}

.info label {
    margin-right: 10px;
}

.info label.center {
    margin-left: 10px;
}

input.address {
    width: 100%;
}

.amounts input {
    width: 50px;
}

.rounded .delivery {
    justify-content: center;
}

.rounded .delivery input{
    width: initial;
}

.rounded .captcha {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.captcha input {
    width: 50px;
    margin: 0 10px;
}

.rounded button {
    color: #272727;
    background-color: #FFCC00;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 5px;
    border: none;
    width: 100%;
    border-radius: 15px;
}

.captcha-txt {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px;
    border: 3px solid #FFCC00;
    margin: 0 10px;
}
